In [140]:
import pandas as pd
import numpy as np

In [141]:
df=pd.read_csv("titanic.csv")

In [142]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [143]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [144]:
df.duplicated().sum()

0

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [146]:
df.shape

(891, 12)

In [147]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [149]:
df.drop(columns=['PassengerId','Name','Ticket','Cabin'],inplace=True)

In [150]:
from sklearn.model_selection import train_test_split

In [151]:
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=["Survived"]),
                                              df["Survived"],
                                              test_size=0.2,
                                              random_state=42)

In [152]:
X_train.head()

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
331       1    male  45.5      0      0  28.5000        S
733       2    male  23.0      0      0  13.0000        S
382       3    male  32.0      0      0   7.9250        S
704       3    male  26.0      1      0   7.8542        S
813       3  female   6.0      4      2  31.2750        S

In [153]:
y_test.shape

(179,)

In [154]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [157]:
tnf1=ColumnTransformer(transformers=[
    ("impute_age",SimpleImputer(),[2]),
    ("impute_embarked",SimpleImputer(strategy="most_frequent"),[6])
],remainder='passthrough')

In [158]:
#Now do encoding
from sklearn.preprocessing import OneHotEncoder

In [159]:
tnf2=ColumnTransformer(transformers=[
    ("encode_Sex",OneHotEncoder(sparse_output=False,handle_unknown='ignore'),[1,6]),
],remainder='passthrough')

In [160]:
from sklearn.preprocessing import MinMaxScaler

In [161]:
# scaling
all_scale=slice(0,10)
tnf3=ColumnTransformer(transformers=[
    ("scale_all",MinMaxScaler(),all_scale)
])

In [162]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection  import chi2
#feature selection
tnf4=SelectKBest(score_func=chi2,k=5)

In [163]:
from sklearn.tree import DecisionTreeClassifier
tnf5=DecisionTreeClassifier()

### Creating a pipeline

In [164]:
from sklearn.pipeline import make_pipeline,Pipeline

In [165]:
pipe=Pipeline([
    ("tnf1",tnf1),
    ("tnf2",tnf2),
    ("tnf3",tnf3),
    ("tnf4",tnf4),
    ("tnf5",tnf5)
])

In [166]:
# alternative way
#pipe =make_pipeline(tnf1,tnf2,tnf3,tnf4,tnf5)

In [167]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('tnf1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('impute_age', SimpleImputer(),
                                                  [2]),
                                                 ('impute_embarked',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  [6])])),
                ('tnf2',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('encode_Sex',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse_output=False),
                                                  [1, 6])])),
                ('tnf3',
                 ColumnTransformer(transformers=[('scale_all', MinMaxScaler(),
                                                  slice(0, 10, None))])),
                ('tnf4',
                 SelectKBest(k=5,
                             score_func=<function chi2 at 0x0000026E06641580>)),
                ('tnf5', DecisionTreeClassifier())])

In [178]:
pipe.named_steps['tnf1'].transformers_[0][1].statistics_

array([29.49884615])

In [181]:
y_pred=pipe.predict(X_test)

In [183]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6256983240223464

In [185]:
#cross validation
from sklearn.model_selection import cross_val_score

In [186]:
cross_val_score(pipe,X_train,y_train,cv=5,scoring='accuracy').mean()

0.6391214419383433